# Bỏ qua node_modules và lib
node_modules/
lib/
dist/

# Bỏ qua file môi trường
.env

# Bỏ qua file .gitignore chính nó
.gitignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
